.no-tap-highlight-color {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#popular {
  position: relative;
}
#popular .post-view {
  width: 100%;
  height: 50vw;
  max-height: 20rem;
  min-height: 200px;
}
#popular .post-view .guided-view {
  height: 100%;
  width: 70vw;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  #popular .post-view .guided-view {
    width: calc(100% - 40px);
  }
}
@media only screen and (min-width: 1441px) {
  #popular .post-view .guided-view {
    width: 50vw;
  }
}
#popular .post-view .guided-view .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  font-size: 0;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  will-change: transform;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#popular .post-view .guided-view .post-container.moving {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#popular .post-view .guided-view .post-container .post-wrapper {
  display: block;
  min-width: 100%;
  height: 100%;
  padding: 0 .5rem;
}
#popular .post-view .guided-view .post-container .post-wrapper .post {
  height: 100%;
  margin: auto;
  background: #006dfe;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  border-radius: 20px;
}
#popular .post-view .guided-view .post-container .post-wrapper .post:active {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}
.post-section {
  padding-top: 2.5rem;
}
.post-section.narrow {
  max-width: 90rem;
  margin: auto;
}
.post-section .section-title {
  font-size: 35px;
  max-width: 60rem;
  margin: auto;
  margin-bottom: 1.5rem;
  padding-left: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .post-section .section-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1441px) {
  .post-section .section-title {
    font-size: 42px;
  }
}
.post-section .section-title.popular::before {
  background-image: url('/assets/images/flare.svg');
  top: -0.3rem;
}
.post-section .section-title.technology::before {
  background-image: url('/assets/images/chip.svg');
  top: .1rem;
}
