.no-tap-highlight-color {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#popular {
  position: relative;
}
#popular .post-scroll {
  position: relative;
}
#popular .post-scroll .next,
#popular .post-scroll .previous {
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity .3s ease, -webkit-transform .1s ease;
  transition: opacity .3s ease, -webkit-transform .1s ease;
  -o-transition: opacity .3s ease, transform .1s ease;
  transition: opacity .3s ease, transform .1s ease;
  transition: opacity .3s ease, transform .1s ease, -webkit-transform .1s ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  will-change: transform;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30% 30%;
}
#popular .post-scroll .next.hidden,
#popular .post-scroll .previous.hidden {
  opacity: 0;
  visibility: hidden;
}
#popular .post-scroll .next:active,
#popular .post-scroll .previous:active {
  -webkit-transform: translateY(-50%) scale(0.9);
  -ms-transform: translateY(-50%) scale(0.9);
  transform: translateY(-50%) scale(0.9);
  opacity: 1;
}
#popular .post-scroll .next {
  right: 2rem;
  background-image: url('/assets/images/right-arrow.svg');
  background-position: 54% 50%;
}
#popular .post-scroll .previous {
  left: 2rem;
  background-image: url('/assets/images/left-arrow.svg');
  background-position: 46% 50%;
}
#popular .post-scroll:hover .next,
#popular .post-scroll:hover .previous {
  opacity: 1;
}
#popular .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.35, 0.59, 0.21, 0.99);
  transition: -webkit-transform 0.5s cubic-bezier(0.35, 0.59, 0.21, 0.99);
  -o-transition: transform 0.5s cubic-bezier(0.35, 0.59, 0.21, 0.99);
  transition: transform 0.5s cubic-bezier(0.35, 0.59, 0.21, 0.99);
  transition: transform 0.5s cubic-bezier(0.35, 0.59, 0.21, 0.99), -webkit-transform 0.5s cubic-bezier(0.35, 0.59, 0.21, 0.99);
  will-change: transform;
}
#popular .post-container .post {
  min-width: 17.3rem;
  background: #F1F1F2;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 1.7rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  -o-transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#popular .post-container .post:last-child {
  margin-right: 1.7rem;
}
#popular .post-container .post:hover {
  -webkit-box-shadow: 0 0 0 .3rem #5f4efb;
  box-shadow: 0 0 0 .3rem #5f4efb;
}
#popular .post-container .post:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  overflow: hidden;
}
#popular .post-container .post .img {
  border-radius: 5px 5px 0 0;
  display: block;
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#popular .post-container .post .manifesto {
  padding: 1rem;
  white-space: initial;
}
#popular .post-container .post .manifesto .title {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
}
#popular .post-container .post .manifesto .creator-and-view {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: .87rem;
  font-weight: 500;
}
#popular .post-container .post .manifesto .creator-and-view .creator:hover {
  text-decoration: underline;
}
.post-section {
  padding-top: 2.5rem;
}
.post-section.narrow {
  max-width: 90rem;
  margin: auto;
}
.post-section .section-title {
  font-size: 35px;
  max-width: 60rem;
  margin: auto;
  margin-bottom: 1.5rem;
  padding-left: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .post-section .section-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1441px) {
  .post-section .section-title {
    font-size: 42px;
  }
}
.post-section .section-title.popular::before {
  background-image: url('/assets/images/flare.svg');
  top: -0.3rem;
}
.post-section .section-title.technology::before {
  background-image: url('/assets/images/chip.svg');
  top: .1rem;
}
.post-section .hero-container {
  display: block;
  width: calc(100% - 3.4rem);
  margin: auto;
}
.post-section .hero-container .col {
  display: inline-block;
}
.post-section .hero-container .col--featured {
  width: 50%;
}
.post-section .hero-container .col--featured .featured {
  width: 100%;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.post-section .hero-container .col--featured .featured .niche {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.post-section .hero-container .col--featured .featured .content-wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #fff;
}
.post-section .hero-container .col--featured .featured .content-wrapper .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
}
.post-section .hero-container .col--featured .featured .content-wrapper .star::before {
  content: '';
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 1rem;
  margin-right: .3rem;
  background-image: url('/assets/images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
