@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/JHM-Pro/JHMPro-Thin.woff2") format("woff2"),
		url("/fonts/JHM-Pro/JHMPro-Thin.woff") format("woff"),
		url("/fonts/JHM-Pro/JHMPro-Thin.eot") format("eot"),
		url("/fonts/JHM-Pro/JHMPro-Thin.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/JHM-Pro/JHMPro-Light.woff2") format("woff2"),
		url("/fonts/JHM-Pro/JHMPro-Light.woff") format("woff"),
		url("/fonts/JHM-Pro/JHMPro-Light.eot") format("eot"),
		url("/fonts/JHM-Pro/JHMPro-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/JHM-Pro/JHMPro-Regular.woff2") format("woff2"),
		url("/fonts/JHM-Pro/JHMPro-Regular.woff") format("woff"),
		url("/fonts/JHM-Pro/JHMPro-Regular.eot") format("eot"),
		url("/fonts/JHM-Pro/JHMPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/JHM-Pro/JHMPro-Medium.woff2") format("woff2"),
		url("/fonts/JHM-Pro/JHMPro-Medium.woff") format("woff"),
		url("/fonts/JHM-Pro/JHMPro-Medium.eot") format("eot"),
		url("/fonts/JHM-Pro/JHMPro-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/JHM-Pro/JHMPro-Bold.woff2") format("woff2"),
		url("/fonts/JHM-Pro/JHMPro-Bold.woff") format("woff"),
		url("/fonts/JHM-Pro/JHMPro-Bold.eot") format("eot"),
		url("/fonts/JHM-Pro/JHMPro-Bold.ttf") format("truetype");
}

/* Noto Sans */
@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Regular.woff2') format('woff2'),
        url('/fonts/NotoSans/NotoSans-Regular.woff') format('woff'),
        url('/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Medium.woff2') format('woff2'),
        url('/fonts/NotoSans/NotoSans-Medium.woff') format('woff'),
        url('/fonts/NotoSans/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Black.woff2') format('woff2'),
        url('/fonts/NotoSans/NotoSans-Black.woff') format('woff'),
        url('/fonts/NotoSans/NotoSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Bold.woff2') format('woff2'),
        url('/fonts/NotoSans/NotoSans-Bold.woff') format('woff'),
        url('/fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-ExtraLight.woff2') format('woff2'),
        url('/fonts/NotoSans/NotoSans-ExtraLight.woff') format('woff'),
        url('/fonts/NotoSans/NotoSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Thin.woff2') format('woff2'),
        url('/fonts/NotoSans/NotoSans-Thin.woff') format('woff'),
        url('/fonts/NotoSans/NotoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Light.woff2') format('woff2'),
        url('/fonts/NotoSans/NotoSans-Light.woff') format('woff'),
        url('/fonts/NotoSans/NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Source Code Pro */

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Medium.woff2') format('woff2'),
        url('/fonts/SourceCodePro/SourceCodePro-Medium.woff') format('woff'),
        url('/fonts/SourceCodePro/SourceCodePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Bold.woff2') format('woff2'),
        url('/fonts/SourceCodePro/SourceCodePro-Bold.woff') format('woff'),
        url('/fonts/SourceCodePro/SourceCodePro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Light.woff2') format('woff2'),
        url('/fonts/SourceCodePro/SourceCodePro-Light.woff') format('woff'),
        url('/fonts/SourceCodePro/SourceCodePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Regular.woff2') format('woff2'),
        url('/fonts/SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
        url('/fonts/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
