.no-tap-highlight-color {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 85%;
  }
}
@media only screen and (min-width: 1441px) {
  html {
    font-size: 115%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'JHM Pro', sans-serif;
  color: #222;
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
}
button,
input {
  outline: none;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
input {
  background: #F1F1F2;
  display: block;
  border-radius: 1rem;
  padding: 0;
  font-size: 1.2rem;
  cursor: default;
  -webkit-transition: background .1s ease;
  -o-transition: background .1s ease;
  transition: background .1s ease;
}
input:hover {
  background: #eeeef0;
}
input:focus {
  cursor: text;
  background: #e9e9eb;
}
input::-ms-clear {
  display: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'JHM Pro', sans-serif;
}
ol {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
::-moz-selection {
  background-color: #5f42ff;
  color: #fff;
}
::selection {
  background-color: #5f42ff;
  color: #fff;
}
