.no-tap-highlight-color {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (min-width: 1441px) {
  html {
    font-size: 120%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'JHM Pro', sans-serif;
  color: #222;
  overflow-x: hidden;
}
button,
input {
  outline: none;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
input::-ms-clear {
  display: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ol {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
::-moz-selection {
  background-color: #4a35f6;
  color: #fff;
}
::selection {
  background-color: #4a35f6;
  color: #fff;
}
