#profile-main {

	text-align: center;

	#info {

		margin-top: 2rem;
		will-change: transform;

		.profile-image {
			width: 5rem;
			height: 5rem;
			margin: auto;
			user-select: none;
		}

		.name {
			font-weight: 700;
			font-size: 2rem;
			margin-top: 1rem;
		}

		.manifesto {
			font-weight: 400;
			font-size: 1rem;
			margin-top: .5rem;
		}

	}

	#history {

		display: flex;
		width: calc(100% - 3rem);
		max-width: 50rem;
		margin: auto;
		margin-top: 2rem;
		transform: translate3d(0,0,0);
		z-index: 1;

		.menu {

			flex: 1;
			max-width: 6.5rem;

			.menu-item {
				padding: .7rem 0;
				font-size: 1rem;
				background-color: transparent;
				color: inherit;
				border-radius: .5rem;
				margin-bottom: .5rem;
				cursor: pointer;
				transition: background-color .2s ease;
				user-select: none;

				&:last-child {
					margin: 0;
				}

				&:hover {
					background-color: @white-blue;
				}

				&:active {
					background-color: @dark-white-blue;
				}

				&.selected {
					background-color: @pvm-violet;
					color: #fff;
				}
			}
		}

		.board {
			flex: 1;
			background-color: @white-blue;
			margin-left: 1rem;
			border-radius: .5rem;

			.board-container {

				display: block;
				text-align: left;
				padding: 1rem;

				&:not(.selected) {
					display: none;
				}

				.board-title {
					font-size: 2rem;
				}

				.board-item {
					padding: 1rem;
					background-color: #fff;
					margin-top: 1rem;
					border-radius: .5rem;

					.post-title {
						font-size: 1.5rem;
					}

				}

			}

		}

	}


}