#globalnav {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
}

#gn-backface {
    background-color: #fff;
    height: 60px;
}

#gn-container {
    max-width: 1400px;
    margin: auto;
    height: 60px;
}
