#globalnav {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#gn-backface {
  background-color: #fff;
  height: 60px;
}
#gn-container {
  max-width: 1400px;
  margin: auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
#gn-logo-wrapper {
  width: 120px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#gn-home-link {
  display: block;
  width: 100%;
  height: 30px;
  background-image: url('/images/pv-landscape.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
