@import "../../../global-inclusion/less/_global-variables";
@import "../../../global-inclusion/less/_global-mixins";

#post-editor {
	position: relative;
	width: calc(100% - 40px);
	max-width: 50rem;
	margin: auto;
}

p, h1, h2, h3 {
	position: relative;
}

#editor-toolbar {
	margin-bottom: 1rem;
	button {
		color: @pvm-purple;
		display: inline-block;
		border-bottom: 2px solid @pvm-green;
		margin: 2px;
	}
}

#editor-body {

	outline: none;

	@font-size--base: 16px;

	// Font size
	p, li {

		font-size: @font-size--base + 2;
		margin-bottom: .3em;

		line-height: 1.1;

		.responsive({
			font-size: @font-size--base;
		},{
			font-size: @font-size--base + 4;
		});
	}

	p {
		
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.5;
		font-weight: 700;
		margin-bottom: .5em;
	}

	h1 {
		font-size: @font-size--base * 2 + 4;

		.responsive({
			font-size: @font-size--base * 2;
		}, {
			font-size: @font-size--base * 2 + 8;
		});
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	ol, ul, ol > li, ul > li {
		list-style-position: inside;
	}

	ol > li {
		margin-left: 15px;
	}

	ol, ol > li {
		list-style-type: circle;
	}

	ul > li {
		margin-left: 15px;
	}

	ul, ul > li {
		list-style-type: decimal;
	}
}
