#post-editor {
	position: relative;
	width: calc(100% - 40px);
	max-width: 50rem;
	margin: auto;
}

p, h1, h2, h3 {
	position: relative;
}

#editor-toolbar {
	margin-bottom: 1rem;
	button {
		background: purple;
		color: #fff;
	}
}

#editor-body {

	outline: none;

	p {
		font-size: 1rem;
		margin-bottom: .2rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.2rem;
	}
}
