@import "_global-variables";
@import "_global-mixins";

#register-main {
	width: calc(100% - 3.4rem);
	max-width: 30rem;
	margin: auto;
	text-align: center;
}

.introduce-header {

	margin-top: 2.5rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid $white-blue;

	.header-icon {
		width: 5rem;
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.3rem;
		font-weight: 300;
		margin-top: 1rem;
		color: #777777;
	}
}

.provider {
	width: 100%;
	max-width: 20rem;
	margin: auto;
	padding-top: 1rem;

	.input-wrapper {
		margin-top: 1rem;

		&.readable-id .icon {
			background-image: url('/assets/images/input-icons/person.svg');
		}

		&.name .icon {
			background-image: url('/assets/images/input-icons/nametag-icon.svg');
		}

		&.password .icon {
			background-image: url('/assets/images/input-icons/lock-icon.svg');
		}
	}

	button {
		margin-top: 2rem;
	}


}
