@import "_global-variables";
@import "_global-mixins";

#post-editor {
	display: block;
	position: relative;
	width: calc(100% - 40px);
	max-width: 50rem;
	margin: auto;

	#caret {
		display: none;
		position: fixed;
		width: 2px;
		height: 1.2rem;
		background: #006eff;
		animation-name: caretBlink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		pointer-events: none;
		transition: .1s left ease, .1s top ease;

		&.stay {
			animation: none;
			opacity: 1;
		}
	}

	@keyframes caretBlink {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 1;
		}

		51% {
			opacity: 0;
		}

		100% {
			opacity: 0;
		}
	}
}

#editor-toolbar {
	margin-bottom: 1rem;
	padding: 1rem;
	background: $white-blue;
	user-select: none;

	& > div {
		display: flex;
	}

	button {
		// min-width: 50px;
		font-weight: 700;
		padding: 3px 5px;
		margin: 0;
		color: $soft-black;
		display: inline-block;
		font-size: 1rem;
		cursor: pointer;
		border-radius: 5px;

		&:hover {
			background: $pvm-violet;
			// transform: scale(1.1);
			color: #fff;
			
		}

		&:active {
			transform: scale(1);
		}
	}
}

#editor-body {
	
	cursor: text;
	// color: transparent;
	// text-shadow: 0 0 0 $soft-black;
	white-space: pre-wrap;

	margin-top: 2rem;


	.del-junk {
		background: red;
		display: inline-flex;
	}

	&:empty {
		background: lightblue;
	}

	outline: none;

	min-height: 500px;

	$font-size--base: 16px;

	// Font size
	p, li, blockquote {

		// font-size: 1.2rem;
		margin-bottom: .7em;

		line-height: 1.1;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.2;
		font-weight: 400;
		margin: 0;
	}

	h1 {
		// font-size: 2.4rem;

		& + p {
			margin-top: 1.2em;
		}
	}

	h2 {
		// font-size: 2rem;

		& + p {
			margin-top: 1em;
		}
	}

	h3 {
		// font-size: 1.5rem;

		& + p {
			margin-top: .8em;
		}
	}

	ol, ul {
		padding: .5em 0;
	}

	ol, ul, ol > li, ul > li {
		list-style-position: outside;
	}

	ol > li {
		margin-left: 15px;
	}

	ol, ol > li {
		list-style-type: circle;
	}

	ul > li {
		margin-left: 15px;
	}

	ul, ul > li {
		list-style-type: decimal;
	}

	blockquote {

		padding: 0;
		padding-left: 1.2em;
		margin: 2em 0 0;
		line-height: 2;
		border-left: 2px solid $soft-black;

		& + blockquote {
			margin-top: 0;
		}

		& + p, & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
			margin-top: 2em;
		}

		p {
			line-height: 1.2;
			margin: 0;
		}
	}

	.image-block {

		cursor: pointer;

		img {
			
		}
	}
}
