@import "global-variables";
@import "global-mixins";

#home-main {
	padding-top: 3rem;
	user-select: none;

	.post-section {
		.section-title {
			font-family: sans-serif-display;
			font-size: 2.5rem;
			font-weight: 700;
			padding: 0.5rem 0 0.5rem 1.5rem;
			user-select: none;
			background-color: #fff;
			position: sticky;
			top: 0;
			z-index: 8889;

			.link {
				transition: color 0.2s ease;

				&:hover {
					color: $pvm-violet;
				}
			}
		}

		.post-scroll-area {
			width: 100%;
			overflow: hidden;
			position: relative;
			top: -17px;

			&.btn-active {
				.btn-container .scroll-btn {
					opacity: 1;
					pointer-events: all;
					transform: scale(1);
				}
			}

			.btn-container {
				.scroll-btn {
					width: 3rem;
					height: 3rem;
					background-color: #222;
					border-radius: 50%;
					position: absolute;
					// top: calc(50% + 17px);
					top: 50%;
					transform: translateY(-50%);
					z-index: 8888;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 20%;
					transition: all 0.2s ease;
					opacity: 0;
					transform: scale(0.8);

					&:hover {
						transform: scale(1.1);
					}

					&:active {
						transform: scale(0.9);
					}

					&.hidden {
						opacity: 0;
						pointer-events: none;
						transform: scale(0.8);
					}
				}

				.left {
					left: 1rem;
					background-position: 47% center;
					background-image: url("/assets/images/home/arrow-left.svg");
				}
				.right {
					right: 1rem;
					background-position: 53% center;
					background-image: url("/assets/images/home/arrow-right.svg");
				}
			}

			.post-container {
				width: 100%;
				white-space: nowrap;
				font-size: 0;
				overflow-x: auto;
				overflow-y: hidden;
				padding-bottom: 3rem;
				position: relative;
				top: 17px;
				padding-left: 0.5rem;
				user-select: none;

				.post-item {
					display: inline-block;
					vertical-align: top;
					width: 40%;
					max-width: 20rem;
					border-radius: 1rem;
					overflow: hidden;
					// margin-right: 1.5rem;
					user-select: none;
					padding: 1rem;
					cursor: default;
					transition: background-color 0.2s ease;

					@include when-smaller-than($gn-width-step--1) {
						width: 45%;
						max-width: none;
					}

					@include when-smaller-than(500px) {
						width: calc(100% - 3rem);
						max-width: none;
					}

					&:first-child {
						// margin-left: 0.5rem;
					}

					&:last-child {
						margin-right: 0.5rem;
					}

					&:hover {
						background-color: $white-blue;
					}

					&:active {
						background-color: $dark-white-blue;
						transition: background-color 0s ease;
					}

					.image-placeholder {
						width: 100%;
						height: 20vw;
						max-height: 10rem;

						@include when-smaller-than(500px) {
							height: 40vw;
							max-height: none;
						}

						.image {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 0.8rem;
						}
					}

					.post-content {
						padding-top: 1rem;

						.post-title {
							font-family: $font-display;
							white-space: pre-wrap;
							line-height: 1.2;
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}