@soft-black: #222;
@white-blue: #f3f3f7;
@pvm-purple: #5f42ff;
@pvm-green: #13edbd;
// @white-blue: #f8f8fb;
// @dark-white-blue: desaturate(darken(@white-blue, 3%), 15%);
@dark-white-blue: darken(@white-blue, 3%);

@pvm-animation: .4s cubic-bezier(.6,.36,.23,.98);

@responsive-width--small: 768px;
@responsive-width--large: 1441px;