@import "_global-variables";
@import "_global-mixins";

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
	font-size: 100%; // 62.5% of 16px = 10px

	.responsive({
		font-size: 85%;
	},
	{
		font-size: 115%;
	});
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'JHM Pro', sans-serif;
    color: @soft-black;
    overflow-x: hidden;
}

main {
	overflow-x: hidden;
}

button, input {
	outline: none;
	font-family: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	display: block;
}

.btn-violet {
	font-size: 1.2rem;
	font-weight: 400;
	// background: linear-gradient(lighten(@pvm-purple, 5%), @pvm-purple);
	background: @pvm-purple;
	color: #fff;
	padding: .7rem 1rem;
	border-radius: .5rem;
	cursor: pointer;
	display: block;
	width: 100%;
	transition: box-shadow .2s ease, background .2s ease, transform .2s ease;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	&:hover {
		background: lighten(@pvm-purple, 3%);
		box-shadow: inset 0 0 1rem .1rem darken(@pvm-purple, 3%);
	}

	&:active {
		background: darken(@pvm-purple, 1%);
		transform: scale(.97);
	}
}

.input-basic {
	text-align: left;
	width: 100%;
	background: @white-blue;
	display: block;
	border-radius: .5rem;
	padding: 0;
	font-size: 1.2rem;
	cursor: default;
	transition: background .2s ease, color .2s ease;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	&:hover {
		background: darken(@white-blue, 1%);
	}

	&:focus {
		cursor: text;
		background: @dark-white-blue;
	}

	&:active {

	}
}

input::-ms-clear {
  display: none;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
	margin: 0;
	font-family: 'JHM Pro', sans-serif;
}

ol {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

// Selection style
::selection {
    background-color: @pvm-purple;
    color: #fff;
}
