.no-tap-highlight-color {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

#post-editor {
  position: relative;
  width: calc(100% - 40px);
  max-width: 50rem;
  margin: auto; }

p, h1, h2, h3 {
  position: relative; }

#editor-toolbar {
  margin-bottom: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #editor-toolbar > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #editor-toolbar button {
    min-width: 50px;
    font-weight: 700;
    padding: 1px 4px 0px;
    margin: 1px 2px;
    color: #5f42ff;
    display: inline-block;
    border-bottom: 3px solid #13edbd;
    font-size: 1rem;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease; }
    #editor-toolbar button:hover {
      background: #F1F1F2; }
    #editor-toolbar button:active {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }

#editor-body {
  outline: none; }
  #editor-body p, #editor-body li {
    font-size: 18px;
    margin-bottom: .3em;
    line-height: 1.1; }
    @media only screen and (max-width: 768px) {
      #editor-body p, #editor-body li {
        font-size: 16px; } }
    @media only screen and (min-width: 1441px) {
      #editor-body p, #editor-body li {
        font-size: 20px; } }
  #editor-body h1, #editor-body h2, #editor-body h3, #editor-body h4, #editor-body h5, #editor-body h6 {
    line-height: 1.2;
    font-weight: 400;
    margin: 0; }
  #editor-body h1 {
    font-size: 36px; }
    #editor-body h1 + p {
      margin-top: 1.2em; }
    @media only screen and (max-width: 768px) {
      #editor-body h1 {
        font-size: 32px; } }
    @media only screen and (min-width: 1441px) {
      #editor-body h1 {
        font-size: 40px; } }
  #editor-body h2 {
    font-size: 1.5rem; }
    #editor-body h2 + p {
      margin-top: 1em; }
  #editor-body h3 {
    font-size: 1.2rem; }
  #editor-body ol, #editor-body ul {
    padding: .5rem 0; }
  #editor-body ol, #editor-body ul, #editor-body ol > li, #editor-body ul > li {
    list-style-position: inside; }
  #editor-body ol > li {
    margin-left: 15px; }
  #editor-body ol, #editor-body ol > li {
    list-style-type: circle; }
  #editor-body ul > li {
    margin-left: 15px; }
  #editor-body ul, #editor-body ul > li {
    list-style-type: decimal; }
