#povium-editor {
  position: relative;
  width: calc(100% - 40px);
  max-width: 50rem;
  margin: auto;
}
p,
h1,
h2,
h3 {
  position: relative;
}
#editor-body {
  outline: none;
}
#editor-body p {
  font-size: 1rem;
}
#editor-body p.p--holder::after {
  content: '여기서 시작';
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  color: gray;
}
#editor-body h1 {
  font-size: 2rem;
}
#editor-body h2 {
  font-size: 1.5rem;
}
#editor-body h3 {
  font-size: 1.2rem;
}
