.no-tap-highlight-color {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#post-editor {
  position: relative;
  width: calc(100% - 40px);
  max-width: 50rem;
  margin: auto;
}
p,
h1,
h2,
h3 {
  position: relative;
}
#editor-toolbar {
  margin-bottom: 1rem;
}
#editor-toolbar button {
  color: violet;
  display: inline-block;
  border-bottom: 2px solid aqua;
}
#editor-body {
  outline: none;
}
#editor-body p,
#editor-body li {
  font-size: 28px;
  margin-bottom: .5rem;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  #editor-body p,
  #editor-body li {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1441px) {
  #editor-body p,
  #editor-body li {
    font-size: 20px;
  }
}
#editor-body h1 {
  font-size: 2rem;
}
#editor-body h2 {
  font-size: 1.5rem;
}
#editor-body h3 {
  font-size: 1.2rem;
}
#editor-body ol,
#editor-body ul,
#editor-body ol > li,
#editor-body ul > li {
  list-style-position: inside;
}
#editor-body ol > li {
  margin-left: 15px;
}
#editor-body ol,
#editor-body ol > li {
  list-style-type: circle;
}
#editor-body ul > li {
  margin-left: 15px;
}
#editor-body ul,
#editor-body ul > li {
  list-style-type: decimal;
}
