@import "global-variables";
@import "global-mixins";

// html, body {
// 	background: #fff;
// }

// main {
// 	padding: 0;
// }

#post-editor {
	display: block;
	position: relative;
	// width: calc(100% - 40px);
	// max-width: 50rem;
	margin: auto;

	#caret {
		display: none;
		position: fixed;
		width: 2px;
		height: 1.2rem;
		background: #006eff;
		animation-name: caretBlink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		pointer-events: none;
		transition: .1s left ease, .1s top ease;

		&.stay {
			animation: none;
			opacity: 1;
		}
	}

	@keyframes caretBlink {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 1;
		}

		51% {
			opacity: 0;
		}

		100% {
			opacity: 0;
		}
	}

	
}

#error {

	position: fixed;
	top: -3rem;
	width: 100%;
	height: 3rem;
	transition: transform .2s ease;
	transform: translateY(3rem);

	&.hidden {
		transform: translateY(0);
	}

	.banner {
		background-color: #ff3d23;
		color: #fff;
		border-radius: 0 0 8px 8px;
		width: calc(100% - 1rem);
		max-width: 30rem;
		height: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
	}
}

#poptool {

	position: absolute;
	// background: #fff;
	background: #272729;
	pointer-events: none;
	// border: 1px solid #ccc;
	// border: 1px solid @white-blue;
	// border: 1px solid #0b0d11;
	border-radius: .5rem;
	opacity: 0;
	padding: .2rem .4rem;
	display: flex;
	color: #fff;
	// display: none;
	transform: translateY(.2rem);
	// transform: scale(.2);
	// will-change: transform; // this attribute will cause clipping bug in chrome
	transition: transform .1s ease, opacity .1s ease;
	cursor: default;
	z-index: 7777;
	font-size: 0;
	// box-shadow: 0 .5rem 1.3rem rgba(0,0,0,.18);
	// box-shadow: 0 .5rem 2.4rem rgba(0,0,0,.17);
	// box-shadow: inset 0 0 0 1px rgba(255,255,255,.25), 0 .3rem .5rem rgba(0,0,0,.2);
	box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
	height: 2.6rem;

	&.active {
		opacity: 1;
		transform: translateY(0);
		// transform: scale(1);
		pointer-events: all;
		transition: transform .1s ease, opacity .1s ease, left .1s ease;
		
	}

	button.operation {

		display: inline-block;
		color: #fff;
		font-weight: 400;
		font-size: 1rem;
		width: 2.2rem;
		height: 100%;
		border-radius: .5rem;
		transition: background-color .1s ease, transform .1s ease;
		background-position: center;
		background-size: 1.4rem;
		background-repeat: no-repeat;

		&:hover {
			background-color: rgba(255, 255, 255, 0.15);
			// background-color: @white-blue;
		}

		&:active {
			// transform: scale(.9);
			background-color: rgba(255, 255, 255, 0.3);
		}

		&.hidden {
			display: none;
		}

		&.is-applied {
			background-color: #5833ff;
			&:active {
				background-color: #7c5eff;
			}
		}

		&#pt-title-pack {
			background-image: url('/assets/images/editor/title-pack-white.svg');
		}
		&#pt-textstyle-pack {
			background-image: url('/assets/images/editor/text-style-white.svg');
		}
		&#pt-align-pack {
			background-image: url('/assets/images/editor/alignmiddle-white.svg');
		}

		&#pt-link {
			background-image: url('/assets/images/editor/link-white.svg');
		}
		&#pt-blockquote {
			background-image: url('/assets/images/editor/blockquote-white.svg');
		}

		&#pt-p {
			background-image: url('/assets/images/editor/paragraph-white.svg');
		}
		&#pt-h1 {
			background-image: url('/assets/images/editor/title1-white.svg');
		}
		&#pt-h2 {
			background-image: url('/assets/images/editor/title2-white.svg');
		}
		&#pt-h3 {
			background-image: url('/assets/images/editor/title3-white.svg');
		}
		
		&#pt-bold {
			background-image: url('/assets/images/editor/bold-white.svg');
		}
		&#pt-italic {
			background-image: url('/assets/images/editor/italic-white.svg');
		}
		&#pt-underline {
			background-image: url('/assets/images/editor/underline-white.svg');
		}
		&#pt-strike {
			background-image: url('/assets/images/editor/strikethrough-white.svg');
		}

		&#pt-alignleft {
			background-image: url('/assets/images/editor/alignleft-white.svg');
		}
		&#pt-alignmiddle {
			background-image: url('/assets/images/editor/alignmiddle-white.svg');
		}
		&#pt-alignright {
			background-image: url('/assets/images/editor/alignright-white.svg');
		}
		
	}

	.pack {

		transition: opacity .1s ease;
		overflow: hidden;
		white-space: nowrap;
		height: 100%;

		&.hidden {
			opacity: 0;
			pointer-events: none;
			max-width: 0;
			visibility: hidden;
		}

		&.active {
			opacity: 1;
			pointer-events: all;
		}

		&.input input {
			width: 10rem;
			height: 100%;
			font-size: 1rem;
			padding: 0 .7rem;
			text-align: left;
		}
	}
	

}

#image-preference-view {

	position: absolute;
	display: flex;
	pointer-events: none;
	z-index: 8888;
	opacity: 0;
	transition: opacity .2s ease;

	background-color: rgba(0,0,0,.9);
	// border-radius: 0 0 .5rem .5rem;
	border-radius: .5rem;
	padding: 0 .5rem;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	button {

		width: 2rem;
		height: 2rem;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		margin: .5rem;
		transition: opacity .2s ease, transform .2s ease;
		cursor: pointer;

		&#full {
			background-image: url('/assets/images/editor/image-full.svg');
		}

		&#normal {
			background-image: url('/assets/images/editor/image-narrow.svg');
		}

		&:hover {
			opacity: .7;
		}

		&:active {
			transform: scale(.9);
		}

	}
}

#editor-body {

	cursor: text;
	// color: transparent;
	// text-shadow: 0 0 0 @soft-black;
	white-space: pre-wrap;

	width: calc(100% - 40px);
	max-width: 50rem;
	margin: auto;
	position: relative;

	padding-bottom: 10rem;

	padding-top: calc(50px + 2rem);

	&:empty {
		background: lightblue;
	}

	outline: none;

	min-height: 500px;

	// Font size
	p, li, ul, ol, blockquote {

		font-size: 1.2rem;
		margin-bottom: .7em;

		line-height: 1.5;

		& + p, & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
			margin-top: 2em;
		}

	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.2;
		font-weight: 400;
		margin: 0;
	}

	h1 {
		font-size: 2.4rem;

		& + p, & + blockquote  {
			margin-top: 2.5em;
		}

		& + h2 {
			margin-top: 2rem;
		}

		& + h3 {
			margin-top: 1.5rem;
		}
	}

	h2 {
		font-size: 2rem;

		& + p, & + blockquote {
			margin-top: 2em;
		}
	}

	h3 {
		font-size: 1.5rem;

		& + p, & + blockquote {
			margin-top: 1.5em;
		}
	}

	ol, ul {
		list-style: none;
		margin: 2em 0 3em;

		& + p, & + blockquote {
			margin-top: 1em;
		}
	}

	ol {
		counter-reset: item;
	}

	li {
		margin-left: 1.5em;

		&::before {
			position: absolute;
			content: '\2022';
			display: inline-block;
		}
	}

	ol > li {
		&::before {
			counter-increment: item;
			content: counter(item) ".";
			right: calc(100% - 1em);
		}
	}

	ul {
		counter-reset: item;
	}

	ul > li {
		&::before {
			left: 0.2em;
		}
	}

	blockquote {

		padding: 0;
		padding-left: 1.2em;
		margin: 2em 0 0;
		line-height: 2;
		// border-left: 3px solid @soft-black;
		border-left: 3px solid #3d3d3d;
		// font-size: 1.5rem;
		color: #757575;

		& + blockquote {
			margin-top: 0;
		}

		& + p, & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
			margin-top: 2em;
		}

	}

	a {
		text-decoration: underline;
		color: #006eff;
		cursor: pointer;
		// user-select: none;

		&:hover {
			background: #d5fde6;
		}
	}

	.image {

		display: block;
		font-size: 0;
		margin: 3rem 0;
		transition: margin 0.4s cubic-bezier(.51,.07,0,1.31);
		will-change: margin;
		
		&.full {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			margin-top: 4rem;
			margin-bottom: 4rem;

			img {
				width: 100%;
			}
		}

		&:hover {
			.image-wrapper img {
				box-shadow: 0 0 0 2px @pvm-violet;
				// box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
			}
		}


		.image-wrapper {
			
			cursor: default;
			width: 100%;
			// overflow: hidden;

			img {
				transition: transform .2s ease, filter .2s ease, box-shadow .2s ease;
				// will-change: transform;
				cursor: default;
				width: 100%;
				// height: 100%;
				// max-width: 100%;
				height: auto;
			}
		}

		

		&.image-selected {
			
			.image-wrapper img {
				
				box-shadow: 0 0 0 5px @pvm-violet;
				// box-shadow: 0 1rem 4rem rgba(0,0,0,.5);
				
			}

			figcaption {
				display: block;
			}
		}

		&.caption-selected {
			figcaption {
				display: block;
			}
			.image-wrapper img {
				box-shadow: 0 0 0 2px @pvm-violet;
			}
		}

		figcaption {
			display: none;
			font-size: 1rem;
			margin-top: 1rem;
			text-align: center;
			color: #979797;
		}

		&.caption-enabled figcaption {
			display: block;
			color: #727272;
		}

	}
}

#paste-area {
	display: none;
	// visibility: hidden;
	position: fixed;
	// left: -9999px;
	// opacity: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	height: 200px;
	background: rgba(0,0,0,.8);
	color: #fff;
	padding: 1rem;
	overflow-y: auto;
	outline: none;

	& * {
		color: #fff !important;
		font-size: .6rem;
	}
}