@import "global-variables";
@import "global-mixins";

html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 100%; // 62.5% of 16px = 10px

	background: @white-blue;

	word-wrap: break-word;
	word-break: keep-all;

	.responsive({
		font-size: 85%;
	},
	{
		font-size: 115%;
	});
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'JHM Sans', sans-serif;
	color: @soft-black;
	overflow-x: hidden;
	// display: none;
	background: #fff;

	&.loaded {
		display: block;
	}
}

main {
	// padding-top: 60px;
	overflow-x: hidden;
}

button, input {
	outline: none;
	font-family: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	display: block;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


// Button style
button:focus {outline:none;}
button::-moz-focus-inner {border:0;}

.btn-violet {
	font-size: 1.2rem;
	font-weight: 400;
	background: @pvm-violet;
	color: #fff;
	padding: 0 1rem;
	height: @button-height;
	border-radius: .5rem;
	cursor: pointer;
	display: block;
	width: 100%;
	transition: box-shadow .2s ease, background .2s ease, transform .2s ease;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	&:hover {
		background: lighten(@pvm-violet, 3%);
		// box-shadow: inset 0 0 1rem .1rem darken(@pvm-violet, 3%);
	}

	&:active {
		background: darken(@pvm-violet, 3%);
		// transform: scale(.97);
	}

	&:focus {
		box-shadow: 0 0 0 4px #e2d2ff;
	}
}

.btn-aqua {
	@btn-aqua: darken(@pvm-aqua, 4%);
	font-size: 1.2rem;
	font-weight: 400;
	background: @btn-aqua;
	color: #fff;
	padding: 0 1rem;
	height: @button-height;
	border-radius: .5rem;
	cursor: pointer;
	display: block;
	width: 100%;
	transition: box-shadow .2s ease, background .2s ease, transform .2s ease;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	&:hover {
		background: lighten(@btn-aqua, 3%);
		// box-shadow: inset 0 0 1rem .1rem darken(@btn-aqua, 3%);
	}

	&:active {
		background: darken(@btn-aqua, 3%);
		// transform: scale(.97);
	}

	&:focus {
		box-shadow: 0 0 0 4px #b6ffe0;
	}
}

// Input style
.input-wrapper {

	position: relative;
	transition: top .2s ease, padding .2s ease;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: .5rem;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);

	.icon {
		pointer-events: none;
		cursor: default;
		display: block;
		background: @pvm-gray;
		position: absolute;
		left: -.1rem;
		top: -.1rem;
		width: @button-height + .1rem;
		height: @button-height + .2rem;
		background-repeat: no-repeat;
		background-position: calc(50% + .1rem) 50%;
		background-size: 80% auto;
		opacity: 0;
		transform: translateX(-1rem);
		transition: transform .2s ease, opacity .2s ease, background-size .1s ease;
		will-change: transform, opacity;
	}

	.placeholder {
		position: absolute;
		// width: 100%;
		transform: scale(1);
		transform-origin: cetner;
		font-size: 1.1rem;
		color: #808080;
		pointer-events: none;
		user-select: none;
		transition: transform .2s ease, opacity .2s ease;
		will-change: transform, opacity;
	}

	&.focused, &.fixed {

		.input-basic {
			padding: 0 1rem 0 @button-height + 1rem;
		}

		.icon {
			transform: translateX(0) scale(1);
			opacity: 1;
			pointer-events: all;
		}

		.placeholder {
			width: auto;
			transform: scale(.9) translateX(1rem);
			opacity: 0;
			// transform: translateY(-2.4rem);
		}
	}

	.expanded-box {

		border-radius: 0 0 .5rem .5rem;
		transition: padding .2s ease;
		will-change: padding;
		padding: 0;
		font-size: 1rem;
		font-weight: 400;
		width: 100%;
		height: 1.7rem;
		line-height: 1.7rem;
		position: absolute;
		top: @button-height;
		overflow: hidden;
		user-select: none;

		&.error-msg-box {
			background: @pvm-red;
			color: #fff;
		}
	}

	// Input condition styles
	& + .condition {

		text-align: left;
		margin: 0;
		padding: 0em 1em;
		border-radius: .5rem;
		max-height: 0;
		overflow: hidden;
		transition: padding .2s ease, margin .2s ease, max-height .2s ease;
		background-color: white;
		box-shadow: 0 1rem 3rem rgba(0,0,0,.15);

		li {

			color: #ff2020;
			line-height: 1.5;

			&::before {
				content: "";
				background-image: url('/assets/images/input-icons/x-red.svg');
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: center;
				display: inline-block;
				vertical-align: middle;
				width: 1em;
				height: 1em;
				margin-right: .5em;
				user-select: none;
				cursor: default;
				margin-bottom: .1em;
			}

			&.passed {
				color: #00ce6a;

				&::before {
					background-image: url('/assets/images/input-icons/check.svg');
				}
			}

		}

	}

	&.focused, &.fixed {

		& + .condition {
			max-height: 5em;
			padding: 1em 1em;
			margin: 1em 0 2em;
		}

	}

	.view {
		visibility: hidden;
		margin: 0;
		padding: 0;
		position: absolute;
		right: .7rem;
		top: .6rem;
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
		background-image: url('/assets/images/input-icons/eye-paled.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition: transform .2s ease;

		&:active {
			transform: scale(.8);
		}
	}

	&.not-empty {
		.view {
			visibility: visible;
		}
	}

	& input[type="text"] + .view {
		background-image: url('/assets/images/input-icons/eye-violet.svg');
	}

}

.input-basic {

	width: 100%;
	background: @white-blue;
	display: block;
	border-radius: .5rem;
	// padding: .7rem 1rem;
	padding: 0 1em;
	height: @button-height;
	font-size: 1.1rem;
	text-align: left;
	// color: #888888;
	color: inherit;
	cursor: default;
	transition: background-color .2s ease, color .2s ease;
	will-change: background-color, padding;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	&:hover {
		background: darken(@white-blue, 1%);
	}

	&:focus {
		cursor: text;
		// background: @dark-white-blue;
	}

	&.expanded {
		border-radius: .5rem .5rem 0 0;
	}
	
}


input::-ms-clear {
	display: none;
}

p, h1, h2, h3, h4, h5, h6, span, div {
	padding: 0;
	margin: 0;
	font-family: 'JHM Sans', sans-serif;
}

ol {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	// user-select: none;
	pointer-events: none;
}

label {
	user-select: none;
}

// Selection style
::selection {
	background-color: #1990ff;
	color: #fff;
}
::-moz-selection {
	background-color: #1990ff;
	color: #fff;
}


.checkbox-violet {

	display: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	& + label {
		position: relative;
		padding-left: 30px;
	}

	& + label::before {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		padding: 10px;
		border: none;
		border-radius: 4px;
		background: @white-blue;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: background .2s ease;
	}

	& + label::after {
		content: "";
		display: inline-block;
		position: absolute;
		left: 5px;
		top: 50%;
		transform: translateY(-50%) scale(0);
		width: 10px;
		height: 10px;
		border-radius: 2px;
		background: @pvm-violet;
		border-radius: 50px;
		opacity: 0;
		transition: transform .1s ease, opacity .1s ease, border-radius .1s ease;
		will-change: transform, opacity;
	}

	&:checked + label::after {
		opacity: 1;
		transform: translateY(-50%) scale(1);
		border-radius: 2px;
	}

	& + label:hover::before {
		background: darken(@white-blue, 1%);
	}

	& + label:active::before {
		background: @dark-white-blue;
	}

}

// Text Color
.pvm-violet {
	color: @pvm-violet;
}

.pvm-aqua {
	color: @pvm-aqua;
}
