/* JHM Sans */
@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 200;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Thin.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 300;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Light.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: .5em !important;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Regular.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 500;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Medium.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 700;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Bold.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.ttf") format("truetype");
}

/* JHM Pro */
@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 200;
	src: url("/assets/fonts/JHM-Pro/JHMPro-Thin.woff2") format("woff2"), url("/assets/fonts/JHM-Pro/JHMPro-Thin.woff") format("woff"), url("/assets/fonts/JHM-Pro/JHMPro-Thin.eot") format("eot"), url("/assets/fonts/JHM-Pro/JHMPro-Thin.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 300;
	src: url("/assets/fonts/JHM-Pro/JHMPro-Light.woff2") format("woff2"), url("/assets/fonts/JHM-Pro/JHMPro-Light.woff") format("woff"), url("/assets/fonts/JHM-Pro/JHMPro-Light.eot") format("eot"), url("/assets/fonts/JHM-Pro/JHMPro-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/JHM-Pro/JHMPro-Regular.woff2") format("woff2"), url("/assets/fonts/JHM-Pro/JHMPro-Regular.woff") format("woff"), url("/assets/fonts/JHM-Pro/JHMPro-Regular.eot") format("eot"), url("/assets/fonts/JHM-Pro/JHMPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 500;
	src: url("/assets/fonts/JHM-Pro/JHMPro-Medium.woff2") format("woff2"), url("/assets/fonts/JHM-Pro/JHMPro-Medium.woff") format("woff"), url("/assets/fonts/JHM-Pro/JHMPro-Medium.eot") format("eot"), url("/assets/fonts/JHM-Pro/JHMPro-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Pro';
	font-style: normal;
	font-weight: 700;
	src: url("/assets/fonts/JHM-Pro/JHMPro-Bold.woff2") format("woff2"), url("/assets/fonts/JHM-Pro/JHMPro-Bold.woff") format("woff"), url("/assets/fonts/JHM-Pro/JHMPro-Bold.eot") format("eot"), url("/assets/fonts/JHM-Pro/JHMPro-Bold.ttf") format("truetype");
}

/* sans-serif-display */
@font-face {
	font-family: 'sans-serif-display';
	src: url('/assets/fonts/sans-serif-display/sans-serif-display-Bold.eot');
	src: url('/assets/fonts/sans-serif-display/sans-serif-display-Bold.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Bold.woff2') format('woff2'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Bold.woff') format('woff'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'sans-serif-display';
	src: url('/assets/fonts/sans-serif-display/sans-serif-display-Light.eot');
	src: url('/assets/fonts/sans-serif-display/sans-serif-display-Light.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Light.woff2') format('woff2'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Light.woff') format('woff'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'sans-serif-display';
	src: url('/assets/fonts/sans-serif-display/sans-serif-display-Regular.eot');
	src: url('/assets/fonts/sans-serif-display/sans-serif-display-Regular.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Regular.woff2') format('woff2'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Regular.woff') format('woff'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'sans-serif-display';
	src: url('/assets/fonts/sans-serif-display/sans-serif-display-Medium.eot');
	src: url('/assets/fonts/sans-serif-display/sans-serif-display-Medium.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Medium.woff2') format('woff2'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Medium.woff') format('woff'),
			url('/assets/fonts/sans-serif-display/sans-serif-display-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* sans-serif-text */
@font-face {
	font-family: 'sans-serif-text';
	src: url('/assets/fonts/sans-serif-text/sans-serif-text-Bold.eot');
	src: url('/assets/fonts/sans-serif-text/sans-serif-text-Bold.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Bold.woff2') format('woff2'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Bold.woff') format('woff'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'sans-serif-text';
	src: url('/assets/fonts/sans-serif-text/sans-serif-text-Regular.eot');
	src: url('/assets/fonts/sans-serif-text/sans-serif-text-Regular.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Regular.woff2') format('woff2'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Regular.woff') format('woff'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'sans-serif-text';
	src: url('/assets/fonts/sans-serif-text/sans-serif-text-Medium.eot');
	src: url('/assets/fonts/sans-serif-text/sans-serif-text-Medium.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Medium.woff2') format('woff2'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Medium.woff') format('woff'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'sans-serif-text';
	src: url('/assets/fonts/sans-serif-text/sans-serif-text-Light.eot');
	src: url('/assets/fonts/sans-serif-text/sans-serif-text-Light.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Light.woff2') format('woff2'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Light.woff') format('woff'),
			url('/assets/fonts/sans-serif-text/sans-serif-text-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
