@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* JHM Sans */
@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 200;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Thin.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 300;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Light.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: .5em !important;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Regular.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 500;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Medium.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 700;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Bold.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.ttf") format("truetype");
}

/* NotoSans */
@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-Black.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-Black.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-Black.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
}

@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-ExtraLight.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-ExtraLight.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-ExtraLight.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-ExtraLight.ttf') format('truetype');
		font-weight: 200;
		font-style: normal;
}

@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-Light.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-Light.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-Light.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
}

@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-ExtraBold.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-ExtraBold.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-ExtraBold.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
}

@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-SemiBold.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-SemiBold.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-SemiBold.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
}

@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-Regular.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-Regular.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-Regular.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
}

@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-Thin.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-Thin.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-Thin.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-Thin.ttf') format('truetype');
		font-weight: 100;
		font-style: normal;
}

@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-Medium.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-Medium.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-Medium.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
}

@font-face {
		font-family: 'Noto Sans';
		src: url('/assets/fonts/NotoSans/NotoSans-Bold.eot');
		src: url('/assets/fonts/NotoSans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/NotoSans/NotoSans-Bold.woff2') format('woff2'),
				url('/assets/fonts/NotoSans/NotoSans-Bold.woff') format('woff'),
				url('/assets/fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
}