@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 200;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Thin.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Thin.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 300;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Light.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: .5em !important;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Regular.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 500;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Medium.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'JHM Sans';
	font-style: normal;
	font-weight: 700;
	src: url("/assets/fonts/JHM-Sans/JHMSans-Bold.woff2") format("woff2"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.woff") format("woff"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.eot") format("eot"),
		url("/assets/fonts/JHM-Sans/JHMSans-Bold.ttf") format("truetype");
}
