@import "../../less/global-variables";

@globalnav-height: 3rem;
@logo-width: @globalnav-height * 2.2;
@search-size: @globalnav-height * 0.7;
@search-margin: @globalnav-height * 0.3;

#globalnav {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#gn-backface {
    background-color: #fff;
    height: @globalnav-height;
    // border-bottom: 1px solid @white-blue;
}

#gn-container {
    max-width: 40rem;
    margin: auto;
    height: @globalnav-height;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#gn-logo-wrapper {
    width: @logo-width;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#gn-home-link {
    display: block;
    width: calc(100% - 10px);
    margin: auto;
    height: 30px;
    background-image: url('/images/pv-landscape.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform @pvm-animation, opacity @pvm-animation;

    .search-active & {
        transform: translateX(100px) scale(0);
        opacity: 0;
    }
}



// globalnav search
#gn-search {
    z-index: 1;
    width: @search-size + @search-margin * 2;
    position: absolute;
    padding: 0 @search-margin;
    left: 0;
    top: 0;
    height: 100%;
    transition: width @pvm-animation;

    .search-active & {
        width: 100%;
    }
}

#gn-search-input-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#gn-search-ui {
    padding: 0;
    width: 100%;
    display: flex;
    height: @search-size;
    background-color: @white-blue;
    border-radius: 50px;
    overflow: hidden;

    .magnifier {
        background-image: url('/images/magnifier.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: @search-size / 2 @search-size / 2;
        min-width: @search-size;
        height: @search-size;
        cursor: pointer;
        transition: transform .2s ease;

        &:active {
            transform: scale(.8);
        }
    }
}

#gn-search-input {
    background: none;
    border: none;
    height: 100%;
    font-size: @search-size / 2.5;
    min-width: 0;
    flex: 1;
    margin-left: -50vw;
    transition: margin @pvm-animation;

    .search-active & {
        margin-left: @search-size / 2;
    }
}
