@import "../global-inclusion/less/_global-variables";
@import "../global-inclusion/less/_global-mixins";

// Popular
#popular {
	position: relative;

	.post-view {

		width: 100%;
		height: 50vw;
		max-height: 22rem;
		min-height: 200px;

		.guided-view {

			height: 100%;
			width: 70vw;
			margin: auto;
			transform: translateX(-700%);
			will-change: transform;

			.responsive({
				width: calc(100% - 40px);
			},
			{
				width: 50vw;
			});

			.post-container {

				display: flex;
				flex-wrap: nowrap;
				height: 100%;
				font-size: 0;
				transition: transform .3s ease;
				will-change: transform;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

				&.moving {
					transition: none;

					.post-link {
						pointer-events: none;
					}
				}

				.post-wrapper {

					display: block;
					min-width: 100%;
					height: 100%;
					padding: 0 .5rem;
					transition: transform .2s ease;
					position: relative;

					.post-link {
						cursor: default;
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
					}

					.post {
						position: relative;
						height: 100%;
						margin: auto;
						// background: #006dfe;
						border-radius: 20px;
						overflow: hidden;
						pointer-events: none;
						user-select: none;

						.hero {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}

						.post-contents {
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							padding: 20px;
							background: rgba(0,0,0,.5);
							color: #fff;
							text-align: center;

							h1 {
								position: relative;
								font-size: 2rem;
								font-weight: 500;
								top: 20%;
							}
						}

					}
				}
			}
		}
	}
}

.post-section {

	padding-top: 2.5rem;
	// overflow-x: hidden;

	&.narrow {
		max-width: 90rem;
		margin: auto;
	}

	.section-title {
		max-width: 60rem;
		margin: auto;
		margin-bottom: 1.5rem;
		padding-left: 1.7rem;
		display: flex;

		// &::before {
		// 	content: "";
		// 	flex: 1;
		// 	max-width: 2rem;
		// 	margin-right: .8rem;
		// 	background-image: url('/assets/images/flare.svg');
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	background-size: auto;
		// 	position: relative;
		// }

		&.popular {
			&::before {
				background-image: url('/assets/images/flare.svg');
				top: -.3rem;
			}
		}

		&.technology {
			&::before {
				background-image: url('/assets/images/chip.svg');
				top: .1rem;
			}
		}
	}
}
