@import "../global-inclusion/less/_global-variables";
@import "../global-inclusion/less/_global-mixins";

#popular {
	overflow-y: hidden;

	.post-container {
		// background: rgb(150, 150, 150);
		white-space: nowrap;
		overflow-x: scroll;
		padding: 13px 0 30px;
		user-select: none;
		position: relative;
		top: 17px;

		.post {
			width: 300px;
			background: @white-blue;
			border-radius: 10px;
			overflow: hidden;
			display: inline-block;
			vertical-align: top;
			margin-left: 30px;
			// box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
			cursor: default;
			transition: all .2s ease;

			&:last-child {
				margin-right: 30px;
			}

			&:active {
				transform: scale(.95);
				// box-shadow: 0 3px 5px rgba(0,0,0,.1);
			}

			&:hover {
				box-shadow: 0 0 0px 4px #766cff;
			}

			.img {
				display: block;
				width: 100%;
			}

			.manifesto {
				padding: 20px;
				white-space: initial;

				.title {
					.pvm-text-5;
					display: block;
					font-weight: 700;
				}
				.contents {
					.pvm-text-3;
					font-weight: 400;
					margin-top: 7px;
				}
				
				.creator-and-view {
					.pvm-text-2;
					margin-top: 20px;
					display: flex;
					justify-content: space-between;
					font-weight: 500;
				}
			}
		}
	}
}